# Git
.git
.gitignore

# Documentation
design/
*.md

# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/__pycache__
backend/venv
backend/.venv
backend/.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
